<button type="button" class="btn nav-link center" @attributes="attributes">
    @Text
</button>

@code {
    [Parameter]
    public required string Text { get; set; }

    [Parameter]
    public string? ModalID { get; set; }

    private Dictionary<string, object> attributes = new Dictionary<string, object>();

    public MenuButton()
    {
        if (ModalID != null) attributes["data-bs-target"] = ModalID;
        if (ModalID != null) attributes["data-bs-toggle"] = "modal";
    }
}