<button type="button" class="btn nav-link center" data-bs-toggle=@_toggle data-bs-target=@_target>
    @Text
</button>

@code {
    [Parameter, EditorRequired]
    public required string Text { get; set; }

    [Parameter]
    public string? ModalID { get; set; }

    private string? _toggle;
    private string? _target;

    private Dictionary<string, object> attributes = new Dictionary<string, object>();

    protected override void OnInitialized()
    {
        _toggle = ModalID != null ? "modal" : _toggle;
        _target = ModalID != null ? $"#{ModalID}" : _target;
    }
}