@using Utils
@page "/Account/Manage/PersonalData"

@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3 style="color: white">Usuń konto</h3>

<div class="row" style="color: white">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobowe przekazane przez ciebie w trakcie tworzenia konta. Ta strona pozwala na pobranie lub usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie danych osobowych spowoduje trwałe usunięcie konta. Ta czynność jest nie odwracalna.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Pobierz dane</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Usuń</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
