@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button type="button" @onclick="GoTo" class="btn nav-link center" id="@Id">
    @Text
</button>

@code {
    [Parameter, EditorRequired]
    public required string Text { get; set; }

    [Parameter]
    public string? Page { get; set; }

    [Parameter]
    public string? Id { get; set; }

    private void GoTo()
    {
        if (Page != null) NavigationManager.NavigateTo(Page, forceLoad: true);
    }
}