.bg-green {
    background-color: var(--mid-green);
}

.bg-dark {
    background-color: var(--bg-color) !important;
}

.fg-light {
    color: rgb(232, 237, 235) !important;
}

.border-bot-none {
    border-bottom: none !important;
}
