@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
<div class="modal fade @Enabled" id=@Id tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header border-bot-none fg-light">
                <h1 class="modal-title fs-5 fg-light" id="exampleModalLabel">@Title</h1>
                <button type="button" class="btn-close fg-light btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required string Id { get; set; }

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter]
    public string? Enabled { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}