@page "/Account/Logout"

@implements IDisposable
@inject NavigationManager NavigationManager

<form action="Account/Logout" method="post" id="logoutForm">
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" />
</form>
<script>
    (() => {
        document.getElementById('logoutForm').submit();
    })()
</script>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}