@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin, SuperAdmin")]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <p>Claims: @context.User.Claims</p>
    <p>IsAdmin: @context.User.IsInRole("Admin")</p>
    <p>IsSuperAdmin: @context.User.IsInRole("SuperAdmin")</p>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    You are an Admin
</AuthorizeView>

<AuthorizeView Roles="SuperAdmin">
    You are an SuperAdmin
</AuthorizeView>
<AuthorizeView>

</AuthorizeView>